@tailwind base;

body {
  @apply .bg-white .font-sans .antialiased;
}

@tailwind components;

@tailwind utilities;

.container {
  @apply .max-w-screen-xl .mx-auto .px-4;
}

@screen md {
  .container {
    @apply .px-6;
  }
}

@screen lg {
  .container {
    @apply .px-8;
  }
}

/* Custom CSS. */
.text-green-color {
  color: #62c102;
}
.text-green-color-hover:hover {
  color: #62c102;
}
.border-green-color {
  border-color:#62c102;
}
.border-green-color-hover:hover {
  border-color:#62c102;
}

/* Quotes */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.15em;
  vertical-align: -0.4em;
} 
blockquote p {
  display: inline;
  font-style: italic;
}